<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRM: But Really it's a list of character profiles from Evillious Chronicles.</title>
  </head>
  <body>
    <header>
      <h1>About</h1>

      <nav id="main_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about-section">About</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about-section" class="about">
        <p>The Evillious Chronicles is an expansive dark fantasy multi-media series conceptualized by Akuno-P, originally told in song using the Vocaloid software. Expanding into light novels, short stories, and manga, the overarching story revolves around the vessels of sin, seven objects inhabited by demons that spread malice and calamity in their wake, and the numerous characters affected by them throughout the centuries. Click <a href="http://theevilliouschronicles.wikia.com/wiki/The_Evillious_Chronicles_Wiki" target="_blank">here</a> to read more.</p>
      </section>
    </main>
  </body>
</html>