<section class="contacts">
  <p class="contact-header">There are a total of <%= @contacts.count %> contacts.</p>

  <% @contacts.each do |contact| %>
    <section class="contact-wrapper">
      <h2 class="contact-name">
        <a href="/contacts/<%= contact.id %>"><%= contact.full_name %> (<%= contact.email %>)</a>
      </h2>

      <ul class="contact-actions">
        <li><a href="#">Edit</a></li> |
        <li><a href="#">Delete</a></li>
      </ul>
    </section>
  <% end %>
</section>