<section id="contact-section" class="contacts">
  <% @contacts.each do |contact| %>
    <ul>
        <li><%= contact.full_name %></li>
        <li><%= contact.email %></li>
        <li><%= contact.note %></li>
    </ul>
  <% end %>
</section>