body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #333;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 2em;
  padding: 1em 0;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

header, footer {
  background: #4f3c20;
  color: #fff;
  text-align: center;
}

main {
  font-size: 1.6em;
  color: #333;
}

footer {
  padding: 1em 0;
  font-size: 1.4em;
}

.links, .links:visited {
  color: #ff8404;
}

.links:hover {
  color: #ffc004;
}

.logo {
  max-width: 360px;
}

.headers {
  padding: 5px 0;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 5px solid #614600;
}

#main_nav {
  background: #f1db9c;
}

#main_nav li {
  padding: 1em 0;
  border-bottom: 1px solid #4e3d20;
}

#main_nav li:last-child {
  border: none;
}

#main_nav li a {
  color: #4e3d20;
  font-size: 1.8em;
}

#main_nav li a:hover {
  color: #ff8404;
}

.welcome p, .about p {
  margin: 1em auto;
  padding: 0 1em;
  font-size: 1.2em;
  line-height: 1.3em;
}

.contacts {
}

.contact-wrapper {
  padding: 1.2em 1em;
  margin: 0 auto 1em;
  background: #ecfbfa;
}

.contact-wrapper:last-child {
  margin: 0 auto;
}

.contact-wrapper:hover {
  background: #fbfbec;
}

.contact-header {
  padding: 1em;
  background: #614600;
  color: #fff;
}

.contact-name {
  font-size: 1.2em;
  padding: 0;
}

.contact-name a, .contact-name a:visited {
  color: #333;
}

.contact-name a:hover, .contact-name a:focus {
  color: #ff9900;
}

.contact-actions li {
  display: inline-block;
  margin: 0.5em auto;
}

.contact-actions a {
  color: #229ceb;
}

.contact-actions a:hover {
  color: #9ad5fb;
}

.contact-info {
  padding: 1.2em 1em;
  background: #ecfbfa;
}

.contact-info h2 {
  font-family: 'Lato', sans-serif;
  color: #666;
  font-size: 1.2em;
  padding: 0;
  line-height: 1.6em;
  font-weight: 400;
}

.contact-info p {
  margin: 0.5em auto;
  padding: 0;
  color: #666;
}

.add-contact {
  padding: 1.2em 1em;
  margin: 0 auto 1em;
}

.add-contact-form {
  margin: 1em auto;
  padding: 1em 0;
}

.field-wrapper {
  margin: 1em auto;
}

.field-wrapper label {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.field-wrapper input {
  height: 25px;
}

.field-wrapper label, .field-wrapper input, .field-wrapper textarea {
  display: block;
  width: 100%;
  max-width: 360px;
}

.default-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.default-button:hover,
.default-button:focus {
  background: #0053ba;
}

.default-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.default-button:active {
  transform: scale(0.99);
}